*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}
#main{
    border: 1px solid white;
    color: white;
    height: 15em;
    width: 30em;
    padding: 10px;
    border-radius: 10px;
}
#display{
    text-align: center;
    font-size: 5em;
}
#buttonsBox{
    
    height: 8em;
    display: flex;
    justify-content: space-around;
    
}
#buttonsBox button{
    height: 5em;
    position: relative;
    width: 7em;
    top: 40%;
    border-radius: 30px;
    background-color: rgb(95, 3, 253);
    color: white;
    border: none;
    box-shadow: 1px 3px 3px grey;
}
#buttonsBox button:hover{
    background-color: purple;
    cursor: pointer;
}